@import url("https://fonts.googleapis.com/css?family=Patrick+Hand");

.notecontainer {
	max-width: 800px;
	margin: auto;
	padding: 40px 30px;
	background-color: #f0ede5;
	font-size: 18px;
	font-family: "Patrick Hand", Verdana, sans-serif;
	background-repeat: repeat;
	box-shadow: 20px 20px 50px 15px grey;
	border-radius: 5px;

	h1 {
		font-size: 3rem;
	}

	input {
		width: 500px;
		padding: 10px 5px;
		border-radius: 5px;
		background-color: #f0ede5;
	}

	.note {
		// display: flex;
		// justify-content: space-between;
		// align-items: center;
		position: relative;
		padding: 30px;
		margin: 10px;
		border: 3px dashed rgba(255, 5, 5, 0.2);
		border-radius: 10px;
		color: #111;
		font-size: 1.5rem;
		&:hover {
			background-color: rgba(200,237,229,.4)
		}
	}

	.retslet {
		position: absolute;
		display: flex;
		top: 20px;
		right: 10px;
		width: 10%;
		font-size: 20px;

		.ret,
		.slet {
			// width: 10%;
			user-select: none;
			cursor: pointer;
			color: rgba(5, 5, 5, 0.2);
		}
		.slet {
			&:hover {
				color: rgba(200, 80, 80, .8);
			}
		}

		.ret {
			&:hover {
				color: rgba(90, 200, 90, .8);
			}
		}
		// text-align: center;
		// vertical-align: middle;
	}
}
